.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: "Signika", sans-serif;
  margin: 35px 64px 0;
  position: relative;
  z-index: 2;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  li {
    cursor: pointer;
    font-weight: 300;
    line-height: normal;

    a {
      text-decoration: none;
    }
  }
  li:hover {
    font-weight: 400;
  }
}
