<section id="plans" class="titulos">
  <div>
    <h2 class="pricing-plan">Plano de Preços</h2>
    <h1 class="join">JUNTE-SE HOJE</h1>
  </div>
</section>

<section class="section-cards">
  <div class="card-planos">
    <div>
      <h3>Plano Básico</h3>
      <h1 class="price">R$80 /Mês</h1>
      <p>
        Um acesso fundamental para quem busca iniciar sua jornada fitness com
        simplicidade e economia.
      </p>
    </div>
    <ul>
      <li>Acesso a Equipamentos de Cardio</li>
      <li>Aulas em Grupo Limitadas</li>
      <li>Treinamento Personalizado</li>
      <li>Espaço de Musculação</li>
      <li>Horário Flexível</li>
    </ul>
    <button class="card-buttons">
      <a href="#contact"> Escolher Plano </a>
    </button>
  </div>

  <div class="card-planos">
    <div>
      <h3>Plano Intermediário</h3>
      <h1 class="price">R$115 /Mês</h1>
      <p>
        Ideal para quem deseja um treino mais diversificado e suporte regular
        para alcançar melhores resultados.
      </p>
    </div>
    <ul>
      <li>Acesso Ilimitado aos Equipamentos</li>
      <li>Aulas em Grupo Diversificadas</li>
      <li>Treinamento Personalizado Regular</li>
      <li>Avaliações Físicas</li>
      <li>Acesso a Áreas de Lazer</li>
    </ul>
    <button class="card-buttons">Escolher Plano</button>
  </div>

  <div class="card-planos">
    <div>
      <h3>Plano Premium</h3>
      <h1 class="price">R$180 /Mês</h1>
      <p>
        A experiência completa, com acesso ilimitado e atendimento
        personalizado, garantindo máxima performance e bem-estar.
      </p>
    </div>
    <ul>
      <li>Acesso 24 Horas</li>
      <li>Aulas Exclusivas</li>
      <li>Treinamento Personalizado Frequente</li>
      <li>Nutrição e Suporte</li>
      <li>Eventos e Atividades Exclusivos</li>
    </ul>
    <button class="card-buttons">Escolher Plano</button>
  </div>
</section>
