<section class="titulos">
    <div>
        <h2 class="pricing-plan">Pricing Plan</h2>
        <h1 class="join">JOIN TODAY</h1>
    </div>
    <div>
        <button class="button-monthly">Monthly</button>
        <button class="button-yearly">Yearly</button>
    </div>
</section>


<section class="section-cards">
    <div class="card-planos">
        <div>
            <h3>Beginner Plan</h3>
            <h1 class="price">$05 /Month</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        <button class="card-buttons">Choose Plan</button>
    </div>
    <div class="card-planos">
        <div>
            <h3>Premium Plan</h3>
            <h1>$15 /Month</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        <button class="card-buttons">Choose Plan</button>
    </div>
    <div class="card-planos">
        <div>
            <h3>Expert Plan</h3>
            <h1>$20 /Month</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        <button class="card-buttons">Choose Plan</button>
    </div>
</section>
