*{
    font-family: Signika;
}

.titulos {
    display: flex;
    justify-content: space-between;
    margin-left: 63px;
    .pricing-plan {
        font-weight: 400;
        font-size: 24px;
    }
    
    .join {
        font-size: 50px;
    }
}

h2, h3 {
    color: #636e72;
}

.section-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-planos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 406px;
    height: 506px;
    background-color: #fff;
    box-shadow: 4px 4px 4px #aaaa;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 80px;

}

li {
    list-style-type: none;
    padding: 5px;
}

.card-buttons {
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border: #fff;
    border-radius: 10px;
    
}

.button-monthly {
    cursor: pointer;
    color: black;
    background-color: #fff;
    color: black;
    padding: 12px;
    margin: 10px;
    border: #fff;
    border-radius: 10px;
}

.button-yearly {
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 12px;
    margin: 10px;
    border: #fff;
    border-radius: 10px;
}

// .price {
//     width: 142px;
//     height: 59px;
// }