.services {
  padding: 64px 64px;
  text-align: center;

  h2 {
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  .section-description {
    font-size: 24px;
    opacity: 0.4;
    margin-bottom: 90px;
    font-weight: 300;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 87px;
    align-items: center;

    .activity-details {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 110px;

      .activity-item {
        display: flex;

        gap: 20px;
        width: 352px;

        .info {
          text-align: left;

          h3 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 5px;

            @media (max-width: 768px) {
              font-size: 20px;
            }
          }

          p {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.4);

            @media (max-width: 768px) {
              font-size: 16px;
            }

            span {
              margin-top: 2px;
              color: black;
              opacity: 1;
              font-weight: 900;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .activity-images {
      display: grid;
      align-items: center;
      grid-template-areas:
        "img1 img3"
        "img2 img3";
      gap: 25px;

      img {
        border-radius: 35px;
      }

      img:nth-child(1) {
        grid-area: img1;
        width: 100%;
        height: auto;
      }

      img:nth-child(2) {
        grid-area: img2;
        width: 100%;
        height: auto;
      }

      img:nth-child(3) {
        grid-area: img3;
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 768px) {
    .grid-content {
      grid-template-columns: 1fr;
      gap: 40px;

      .activity-details {
        grid-template-columns: 1fr;
        gap: 20px;

        .activity-item {
          width: auto;
          margin-bottom: 20px;

          .icon {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .activity-images {
        grid-template-areas:
          "img1"
          "img2"
          "img3";
      }
    }
  }
}
