<section id="services" class="services">
  <div class="container">
    <h2>Modalidades de Atividade Física</h2>
    <p class="section-description">
      Escolha entre uma variedade de modalidades para atingir seus objetivos
      fitness.
    </p>

    <div class="grid-content">
      <div class="activity-details">
        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Ginástica</h3>
            <p>Melhore o seu condicionamento físico e flexibilidade.</p>
            <p>
              <span>Horários:</span> Seg a Sex - 07:00 às 08:00 | 18:00 às 19:00
            </p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Musculação</h3>
            <p>
              Exercícios focados em aumento de força e hipertrofia muscular.
            </p>
            <p>
              <span>Horários:</span> Seg a Sex - 06:00 às 22:00 | Sáb - 08:00 às
              14:00
            </p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Personal Trainers</h3>
            <p>Treinamento personalizado para seus objetivos específicos.</p>
            <p><span>Horários:</span> Segunda a Sábado - Agendamento prévio</p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/boxing-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Boxe</h3>
            <p>
              Aulas intensas para desenvolver força, resistência e agilidade.
            </p>
            <p>
              <span>Horários:</span> Ter e Qui - 19:00 às 20:30 | Sáb - 10:00 às
              11:30
            </p>
          </div>
        </div>
      </div>

      <div class="activity-images">
        <img ngSrc="/assets/crossfit.png" width="264" height="160" />
        <img ngSrc="/assets/bodybuilding.png" width="264" height="160" />
        <img ngSrc="/assets/boxing.png" width="284" height="410" />
      </div>
    </div>
  </div>
</section>
