<section class="services">
  <div class="container">
    <h2>Modalidades de Atividade Física</h2>
    <p class="section-description">
      Escolha entre uma variedade de modalidades para atingir seus objetivos
      fitness.
    </p>

    <div class="grid-content">
      <div class="activity-details">
        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Musculação</h3>
            <p>Exercícios focados em ganho de força e hipertrofia muscular.</p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/boxing-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Boxe</h3>
            <p>
              Desenvolva força, resistência e agilidade enquanto aprende
              técnicas de combate em aulas intensas.
            </p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Crossfit</h3>
            <p>Modalidade de alta intensidade que trabalha todo o corpo.</p>
          </div>
        </div>

        <div class="activity-item">
          <div class="icon">
            <img ngSrc="/assets/dumbel-icon.svg" width="40" height="40" />
          </div>
          <div class="info">
            <h3>Pilates</h3>
            <p>
              Exercícios para alongamento e fortalecimento com foco no core.
            </p>
          </div>
        </div>
      </div>

      <div class="activity-images">
        <img ngSrc="/assets/crossfit.png" width="264" height="160" />
        <img ngSrc="/assets/bodybuilding.png" width="264" height="160" />
        <img ngSrc="/assets/boxing.png" width="284" height="410" />
      </div>
    </div>
  </div>
</section>
