@import "../../../styles";
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gallery-photos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 1250px;
        position: relative;
        padding: 80px 0;

        mat-icon {
            width: 40px;
            height: 40px;
            font-size: 40px;
        }
        .mat-mdc-fab.mat-accent {
            --mdc-fab-container-color: white;
        }

        .box {
            background: rgb(44, 44, 44);
            border-radius: 15px;
            box-shadow: 0 0 10px 1px rgb(34, 34, 34);;
        }
        .box-second {
            width: 280px;
            height: 160px;
            background: rgb(83, 83, 83);
            position: relative;
            z-index: 3;
            filter: brightness(.6);
            @include backgroundProps();
        }
        .box-primary {
            width: 350px;
            height: 200px;
            background: grey;
            position: relative;
            z-index: 4;
            @include backgroundProps();
        }
    }

    @media (max-width: 426px) {
        .box-second {
            display: none;
        }
    }
}

