<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img ngSrc="/assets/logo.png" width="112" height="50" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis.
      </p>
    </div>
    <div class="footer-menu">
      <h3>Menu</h3>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Modalidades</a></li>
        <li><a href="#plans">Planos</a></li>
        <li><a href="#gallery">Galeria</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h3>Nossas redes</h3>
      <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Github</a></li>
      </ul>
    </div>

  </div>
  <div class="footer-copyright">
    <p>&copy; 2024 InovaTech</p>
  </div>
</footer>
