.footer {
  background-color: #fff;
  padding: 40px 63px;
  text-align: start;
  border-top: 1px solid #e6e6e6;
  font-family: Signika;
  bottom: 0;
  left: 0;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
  }

  .footer-logo,
  .footer-menu,
  .footer-social {
    width: 20%;

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.4;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          text-decoration: none;
          color: #000;
          opacity: 0.703;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  .footer-copyright {
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    color: #636e72;
  }


  @media (max-width: 768px) {
    padding: 20px 15px;

    .footer-logo img {
      width: 80px;
      height: 30px;
    }

    .footer-logo p {
      font-size: 14px;
      
    }

    .footer-menu,
    .footer-social {
      ul {
        flex-direction: column;
        align-items: center;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
