<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img ngSrc="/assets/logo.png" width="112" height="50" />
      <p>
        Na InovaFit, transformamos saúde e bem-estar em estilo de vida. Oferecemos musculação, ginástica e boxe com acompanhamento profissional e estrutura moderna.
      </p>


    </div>
    <div class="footer-menu">
      <h3>Menu</h3>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Modalidades</a></li>
        <li><a href="#plans">Planos</a></li>
        <li><a href="#gallery">Galeria</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h3>Nossas redes</h3>
      <ul>
        <li>
          <a href="https://br.linkedin.com/company/estartando-devs">LinkedIn</a>
        </li>
        <li><a href="https://www.estartandodevs.com.br/">Facebook</a></li>
        <li>
          <a href="https://www.instagram.com/estartandodevs/">Instagram</a>
        </li>
        <li><a href="https://github.com/LorenaSMO/InovaFit">Github</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2024 InovaTech</p>
  </div>
</footer>
