<section id="contact" class="contact">
  <div class="contact-container">
    <h3>Entre em Contato Conosco</h3>
    <h1>
      <a
        href="https://api.whatsapp.com/send?phone=918200060000&text=Olá!%20Gostaria%20de%20mais%20informações."
        target="_blank"
        class="whatsapp-link"
      >
        <img
        ngSrc="/assets/wpp-icon.png"
        width="40" height="40"
          alt="WhatsApp Icon"
          class="whatsapp-icon"
        />
        +21 999999999
      </a>
    </h1>
    <p>
      Na InovaFit, estamos aqui para ajudar você a alcançar seus objetivos de
      saúde e fitness. Entre em contato conosco hoje mesmo!
    </p>
  </div>
</section>
