<section id="home">
  <div class="home-container">
    <div class="side-a">
      <h1>Eleve seu treino</h1>
      <p>
        Na <span>InovaFit</span>, oferecemos o melhor para você atingir seus
        objetivos. Com equipamentos modernos e suporte profissional, ajudamos
        você a elevar seu desempenho e superar limites.
      </p>

      <app-button buttonText="Comece hoje" (click)="navigateToContact()"  />
      <div class="icons">
        <a href="#">
          <img ngSrc="/assets/fb.svg" width="36" height="36" />
        </a>
        <a href="#">
          <img ngSrc="/assets/instagram.svg" width="36" height="36" />
        </a>
        <a href="#">
          <img ngSrc="/assets/in.svg" width="36" height="36" />
        </a>
        <a href="#">
          <img ngSrc="/assets/github.svg" width="36" height="36" />
        </a>
      </div>
    </div>
    <div class="side-b">
      <img ngSrc="/assets/hero.png" width="671" height="650" />
    </div>
  </div>
  <div class="info-bar">
    <div class="info-item">
      <h2>500+</h2>
      <p>Membros Felizes</p>
      <span>Nossa comunidade está crescendo rapidamente</span>
    </div>
    <div class="info-item">
      <h2>5+</h2>
      <p>Anos de Experiência</p>
      <span>Experiência em diversos treinos</span>
    </div>
    <div class="info-item">
      <h2>13+</h2>
      <p>Treinadores Certificados</p>
      <span>Orientação em cada etapa</span>
    </div>
    <div class="info-item">
      <h2>90%</h2>
      <p>Satisfação dos Clientes</p>
      <span>Garantimos sua satisfação e progresso</span>
    </div>
  </div>
</section>
