@import "https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin backgroundProps() {
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

html {
  font-family: "Signika", sans-serif;
  scroll-behavior: smooth;
}
